#commonDialog {
  min-width: 29em;
  min-height: 8.5em;
  -moz-user-focus: ignore;
}

vbox[id="info.box"],
description[id="info.body"] {
  white-space: pre-wrap;
}

#commonDialog > hbox > vbox {
  max-width: 45em;
}