/* code and icons from SeaMonkey's Classic theme */
/* ::::: splitter grippy ::::: */
  
grippy.visible-grippy {
  display: -moz-box !important;
  cursor: pointer;
  border-top: 1px solid ThreeDShadow;
  border-bottom: 1px solid ThreeDShadow;
  min-width: 4px;
  min-height: 115px;
  background-color: transparent;
  background-repeat: no-repeat;
}

grippy.visible-grippy:hover {
  background-color: #CCCCFF;
}

splitter[orient="vertical"] > grippy.visible-grippy {
  border-top: none;
  border-right: 1px solid ThreeDShadow;
  border-bottom: none;
  border-left: 1px solid ThreeDShadow;;
  min-width: 115px;
  min-height: 4px;
}
  
/* ..... normal state ..... */

/* vertical grippies */
splitter[collapse="before"] > grippy.visible-grippy {
  background-image: url("chrome://seorganizer/skin/splitter/grip-vrt-before.gif");
}

splitter[collapse="after"] > grippy.visible-grippy {
  background-image: url("chrome://seorganizer/skin/splitter/grip-vrt-after.gif");
}

/* horizontal grippies */
splitter[collapse="before"][orient="vertical"] > grippy.visible-grippy {
  background-image: url("chrome://seorganizer/skin/splitter/grip-hrz-before.gif");
}  

splitter[collapse="after"][orient="vertical"] > grippy.visible-grippy {
  background-image: url("chrome://seorganizer/skin/splitter/grip-hrz-after.gif");
}  
  
/* ..... collapsed state ..... */

/* vertical grippies */
splitter[collapse="before"][state="collapsed"] > grippy.visible-grippy {
  background-image: url("chrome://seorganizer/skin/splitter/grip-vrt-after.gif");
}

splitter[collapse="after"][state="collapsed"] > grippy.visible-grippy {
  background-image: url("chrome://seorganizer/skin/splitter/grip-vrt-before.gif");
}

/* horizontal grippies */
splitter[collapse="before"][state="collapsed"][orient="vertical"] > grippy.visible-grippy {
  background-image: url("chrome://seorganizer/skin/splitter/grip-hrz-after.gif");
}  

splitter[collapse="after"][state="collapsed"][orient="vertical"] > grippy.visible-grippy {
  background-image: url("chrome://seorganizer/skin/splitter/grip-hrz-before.gif");
}
